# Dependencies
node_modules/
package-lock.json

# Database & SQLite files
*.db
*.db-journal
*.db-wal
*.db-shm

# Environment variables
.env
.env.local

# Logs
logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# Temporary images
page_*.png
google login security code.jpeg
*.jpeg
